body {
   background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1554741904/shape/mentalfloss/559404-istock-512966920_0.jpg);
}

h1 {text-align: center;
background-color: white;
}
header .breadcrumb {
   text-align: center;
}
.book {
       border-bottom: 1px solid rgb(...);
.book .addbtn,
.searchBar input[type=submit] {
--padding: 8px 10px;
--border-radius: 5px;
--min-width: 80px;
--float: right;
--font-size: 1.1em;
}
.book .addbtn {
background-color: rgb(79, 149, 255);
}